In [3]:
import pandas as pd
import numpy as np
import matplotlib
import os

In [ ]:
df_m = pd.read_csv("../data/.csv", "|")

In [22]:
df_train = pd.read_csv("../data/train.csv", "|")
df_train_sorted = df_train.sort_values(by=['well id', 'depth, m'])
df_train_sorted.to_csv('../data/train_sorted.csv',index=False, sep='|')
df_train_sorted.to_json('../data/train_sorted.json')

In [20]:
df_train_clean = df_train.drop_duplicates(subset=['well id','depth, m','bk','GZ1','GZ2','GZ3','GZ4','GZ5','GZ7','DGK','NKTD','NKTM','NKTR','ALPS'], keep=False)
df_train_clean.to_csv('../data/train_clean.csv',index=False, sep='|')
df_train_clean.to_json('../data/train_clean.json')
df_train_clean_sorted = df_train_clean.sort_values(by=['well id', 'depth, m'])
df_train_clean_sorted.to_csv('../data/train_clean_sorted.csv',index=False, sep='|')
df_train_clean_sorted.to_json('../data/train_clean_sorted.json')

In [21]:
df_test = pd.read_csv("/Users/zamaletdinovaaa/mipt_cet_hack/Silicondzor/data/test.csv", "|")
df_test.to_json('../data/test.json')
df_test_sorted = df_test.sort_values(by=['well id', 'depth, m'])
df_test_sorted.to_json('../data/test_sorted.json')

In [58]:
df_misha = pd.read_csv("/Users/zamaletdinovaaa/mipt_cet_hack/Silicondzor/data/final_result_misha.csv", ",")

In [88]:
df_misha['lith']

0        sdfghj
1        sdfghj
2        sdfghj
3        sdfghj
4        sdfghj
          ...
37599    sdfghj
37600    sdfghj
37601    sdfghj
37602    sdfghj
37603    sdfghj
Name: lith, Length: 37604, dtype: object

In [84]:
df_misha[(df_misha['lith'].isin([sand]))&(df_misha['goal']==0)] = 'ARGILLIT'

In [75]:
df_misha[not(df_misha['lith'].isin([sand]))&(df_misha['goal']==1)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [62]:
sand=['SAND','SAND_GL','SAND_ALEV','SAND_UPLOT']

In [24]:
_PNB = 4150
_PHI = 0.7
_RHO = 860
_S = 100
_H_DELTA = 0.1
_EXPENCES_BK = 2450
_EXPENCES_GZ = 2050
_EXPENCES_DGK = 1300
_EXPENCES_NKT = 2050
_EXPENCES_ALPS = 1150
_EXPENCES_DICT = {'bk':_EXPENCES_BK, 
                 'GZ1':_EXPENCES_GZ,
                  'GZ2':_EXPENCES_GZ,
                  'GZ3':_EXPENCES_GZ,
                  'GZ4':_EXPENCES_GZ,
                  'GZ5':_EXPENCES_GZ,
                  'GZ6':_EXPENCES_GZ,
                  'GZ7':_EXPENCES_GZ,
                  'DKG':_EXPENCES_DGK,
                  'NKTD':_EXPENCES_NKT,
                  'NKTM':_EXPENCES_NKT,
                  'NKTR':_EXPENCES_NKT,
                  'ALPS':_EXPENCES_ALPS
                 }
_EXPENCES_COLUMNS_ALL = list(_EXPENCES_DICT.keys())

In [25]:
def analysis_columns(df):
    return list(pd.Index(_EXPENCES_COLUMNS_ALL).intersection(df.columns))
    
def add_expences(df):
    df['expences'] = (df[analysis_columns(df)].fillna(0) * [_EXPENCES_DICT.get(key) for key in analysis_columns(df)]).sum(axis=1)
    return df

In [26]:
def form_result_df(df):
    df_grouped = df.groupby(['well id'])
    columns = ['well id', 'total_cnt', 'oil_cnt', 'value', 'expenses', 'square', 'mass', 'price']

    df_dashbord_show = pd.DataFrame(columns=columns)
    
    for well_id, df_well in df_grouped:
        total_cnt = df_well.shape[0]
        oil_cnt = df_well[df_well['goal']==1]['well id'].count()
        h = _H_DELTA * oil_cnt
        expences = df_well['expences'].sum()
        square = oil_cnt*_S
        mass = _H_DELTA * square * _RHO
        value = _PNB*_PHI*h*_S*_RHO - expences
        price = mass * _PNB
        row_dict = [{'price':price,'mass':mass,'square':square,'well id':well_id, 'total_cnt':total_cnt, 'oil_cnt':oil_cnt, 'value':value, 'expenses':expences}]
        df_dashbord_show_inc = pd.DataFrame(row_dict)
        df_dashbord_show = df_dashbord_show.append(df_dashbord_show_inc)
    return df_dashbord_show

In [52]:
df_train_expences = add_expences(df_train)   
df_result_example = df_train_expences.iloc[:50]
df_result_example.to_json('../data/result_example_better.json',orient='split')

In [53]:
df_result_example.values.tolist()

[[12.0,
  3042.4629999999997,
  0.45577854494284004,
  0.774,
  0.774,
  0.3328459993938,
  0.476544869741,
  0.774,
  0.24489766634625,
  0.12365125718571,
  0.774,
  0.7991669288500001,
  0.17463948475715,
  0.72778897939549,
  'NK',
  0.0,
  12458.009407045582],
 [33.0,
  2412.8305,
  nan,
  0.1571525894168,
  0.7554718122715,
  0.4532156835362,
  0.7151466477698,
  nan,
  0.523431914973659,
  0.38872861944659004,
  0.5192332323912,
  0.7991669288500001,
  0.5635734661715501,
  0.11121598868983501,
  'ARGILLIT',
  0.0,
  9325.002551523765],
 [33.0,
  2522.5575,
  nan,
  0.172235345676617,
  0.9417423359863001,
  0.5257112452189,
  0.6685998132995401,
  nan,
  0.5889243662274,
  0.51521354466715,
  0.527138962755612,
  0.7991669288500001,
  0.5511522726479999,
  0.17235893136579997,
  'ARGILLIT',
  0.0,
  9986.288875928527],
 [49.0,
  2396.3625,
  0.3812483222237,
  0.24683822611517,
  0.11691284125294199,
  0.73265423234119,
  0.1512985341275,
  0.16521888746156999,
  0.656955284166746,
  0.44591732293849,
  0.5751754124873001,
  0.7991669288500001,
  0.4294332296713,
  0.25356293637168,
  'ARGILLIT',
  0.0,
  9166.64559804662],
 [49.0,
  2399.0475,
  0.356867336231,
  0.22624134389725198,
  0.155473246248,
  0.6132996828956999,
  0.17394866597800002,
  0.29719436398598,
  0.7732177711434001,
  0.39274268491,
  0.575725372745615,
  0.7991669288500001,
  0.447168686637,
  0.9596329193342,
  'ARGILLIT',
  0.0,
  10303.84675888122],
 [49.0,
  2400.2110000000002,
  0.379336846162,
  0.2377561363166,
  0.1246429223,
  0.6132996828956999,
  0.14552879379699998,
  0.425385755765127,
  0.7564631942878309,
  0.3812582348929,
  0.59974125955,
  0.7991669288500001,
  0.414432967195,
  0.49314814587525,
  'ARGILLIT',
  0.0,
  9935.151804815816],
 [49.0,
  2400.2110000000002,
  0.379336846162,
  0.2377561363166,
  0.1246429223,
  0.6132996828956999,
  0.14552879379699998,
  0.425385755765127,
  0.7564631942878309,
  0.3812582348929,
  0.59974125955,
  0.7991669288500001,
  0.414432967195,
  0.49314814587525,
  'ARGILLIT',
  0.0,
  9935.151804815816],
 [49.0,
  2403.433,
  0.38957955168423897,
  0.25819838348900004,
  0.18864343615499998,
  0.6715213374722099,
  0.16546111324,
  0.36616777614420004,
  0.6457862894974,
  0.38177323659359,
  0.5539479689151441,
  0.7991669288500001,
  0.456857369863971,
  0.467114572934,
  'ARGILLIT',
  0.0,
  9908.440397935683],
 [49.0,
  2403.433,
  0.38957955168423897,
  0.25819838348900004,
  0.18864343615499998,
  0.6715213374722099,
  0.16546111324,
  0.36616777614420004,
  0.6457862894974,
  0.38177323659359,
  0.5539479689151441,
  0.7991669288500001,
  0.456857369863971,
  0.467114572934,
  'ARGILLIT',
  0.0,
  9908.440397935683],
 [49.0,
  2419.4535,
  0.429281926378174,
  0.36944643827893,
  0.18378994135412,
  0.112249438245,
  0.21716652611249998,
  0.41692544673799997,
  0.68893996956289,
  0.3462235212,
  0.565549351478,
  0.7991669288500001,
  0.442338597516599,
  0.36635698893833296,
  'ARGILLIT',
  0.0,
  9253.975165084488],
 [77.0,
  2092.689,
  0.69617556433283,
  0.774,
  0.774,
  0.774,
  0.19428671371737,
  0.3915429111757,
  0.24643438557537697,
  0.51521354466715,
  0.6712471982113969,
  0.7991669288500001,
  0.254552376295,
  0.6539656987589,
  'DENSE',
  0.0,
  12460.113239529099],
 [78.0,
  2259.7855,
  0.347395778571933,
  0.224781722323721,
  0.93457881151841,
  0.487182146793558,
  0.67474798955563,
  0.3153965162866,
  0.6881687485948,
  0.32432692636391997,
  0.4973846465636,
  0.7991669288500001,
  0.42398848246644805,
  0.2985781196933,
  'ALEVROLIT',
  0.0,
  11537.546280701705],
 [78.0,
  2265.1555,
  0.324753184298,
  0.31868443554194,
  0.15542536668520002,
  0.7223866551631701,
  0.971819865692,
  0.27285793551554,
  0.67675532757166,
  0.49383218255729494,
  0.5321332751189,
  0.7991669288500001,
  0.4744514797581,
  0.17616651497323998,
  'ARGILLIT',
  0.0,
  11091.783397037172],
 [78.0,
  2270.257,
  0.345534729758154,
  0.26662427431599,
  0.1388475724615,
  0.8225168188249001,
  0.114836431767636,
  0.264188859536,
  0.652893736814866,
  0.49465287428599997,
  0.51353791279867,
  0.7991669288500001,
  0.4136339555846,
  0.1952471491785,
  'ARGILLIT',
  0.0,
  9242.899615918785],
 [78.0,
  2272.584,
  0.35732137224541605,
  0.22899846869476,
  0.13638624948643,
  0.6367226127123299,
  0.891978166537387,
  0.28813421998368,
  0.46777945466311,
  0.49151372166322,
  0.52472838634,
  0.7991669288500001,
  0.4621324971817,
  0.1373963886812,
  'ARGILLIT',
  0.0,
  10127.298527105915],
 [78.0,
  2317.513,
  0.331266688852521,
  0.22825325824560003,
  0.11249693827632001,
  0.7364162566396829,
  0.587999376564234,
  0.23519754566367998,
  0.7635792153622,
  0.42814245561354,
  0.48916688928474,
  0.7991669288500001,
  0.42141543336718,
  0.17974877193417002,
  'ARGILLIT',
  0.0,
  9984.382752032929],
 [78.0,
  2318.766,
  0.3387188417634,
  0.27213833337649,
  0.11988971918710001,
  0.6799858921462211,
  0.7921871496278,
  0.222328687819784,
  0.7467846555134801,
  0.38283663682911,
  0.48586499927,
  0.7991669288500001,
  0.41654357864611,
  0.19817369255,
  'ARGILLIT',
  0.0,
  10354.285294848649],
 [78.0,
  2318.8555,
  0.32258179438822304,
  0.264353684983886,
  0.12274189426462,
  0.681396651258557,
  0.8651113542922869,
  0.22448529783254,
  0.7569385238931801,
  0.3882134591848,
  0.49262531552974,
  0.7991669288500001,
  0.41551371488177,
  0.18849216989,
  'ARGILLIT',
  0.0,
  10482.874791487135],
 [78.0,
  2318.945,
  0.3645274668812,
  0.25656936591722,
  0.12552747166153,
  0.682874137893,
  0.93835558957557,
  0.21856837174672303,
  0.7679239227289,
  0.39362314812786,
  0.49938653115938103,
  0.7991669288500001,
  0.41355916433253004,
  0.17152816495745998,
  'ARGILLIT',
  0.0,
  10729.30922548297],
 [78.0,
  2359.1305,
  0.33343791246859605,
  0.2191541624435,
  0.13237811929999999,
  0.68926398221112,
  0.8912154333382,
  0.29541983148992496,
  0.67421686412241,
  0.4961564358269,
  0.47957459698870003,
  0.7991669288500001,
  0.43595337683755,
  0.85936233935529,
  'ARGILLIT',
  0.0,
  11268.693331748525],
 [85.0,
  2523.363,
  nan,
  0.29212425539394,
  0.19612641838720002,
  0.7119639869251599,
  0.149356285735,
  0.22279872732891698,
  0.656955284166746,
  0.46163133616,
  0.617471948319549,
  0.7991669288500001,
  0.49267341654155,
  0.392882168827359,
  'ARGILLIT',
  0.0,
  8936.020860029988],
 [140.0,
  2446.1245,
  0.774,
  0.774,
  0.774,
  0.774,
  nan,
  nan,
  nan,
  nan,
  nan,
  0.7991669288500001,
  nan,
  0.33267611395775004,
  'DENSE',
  0.0,
  8677.269735193913],
 [148.0,
  2094.479,
  0.774,
  0.774,
  0.774,
  0.774,
  nan,
  nan,
  nan,
  nan,
  nan,
  0.7991669288500001,
  nan,
  0.48881692452425607,
  'DENSE',
  0.0,
  8856.831667345396],
 [207.0,
  2152.0275,
  0.597768442512,
  0.56892853327283,
  0.41733927754309996,
  0.1139585555647,
  nan,
  nan,
  nan,
  nan,
  nan,
  0.7991669288500001,
  nan,
  0.5935594258491899,
  'SAND',
  1.0,
  6040.882279103759],
 [261.0,
  2713.103,
  0.618488555778959,
  0.34382197653888,
  0.18488879439637,
  0.13439831811928998,
  nan,
  nan,
  nan,
  nan,
  nan,
  0.7991669288500001,
  nan,
  0.255239624353962,
  'DENSE',
  0.0,
  4806.488366369813],
 [263.0,
  2279.028,
  0.49437393126999996,
  0.25527159519327997,
  0.11611653879830001,
  0.6724618435479199,
  0.9531753269679999,
  0.35525689362790003,
  0.7645862889915921,
  0.3354417574125,
  0.5633822232821349,
  0.7991669288500001,
  0.458194276853,
  0.279727544978,
  'ALEVROLIT',
  0.0,
  11655.00723636606],
 [263.0,
  2280.8179999999998,
  0.4261817835521,
  0.31655125196336,
  0.13711168894,
  0.64484637796,
  0.8766257239732499,
  0.272152875787855,
  0.76661762667533,
  0.22617874616539999,
  0.57674741696875,
  0.7991669288500001,
  0.43491789165164,
  0.4363284138853,
  'ALEVROLIT',
  0.0,
  11436.63550034962],
 [263.0,
  2283.5925,
  0.49749138335299997,
  0.276192837746968,
  0.13363535913982,
  0.71337385784852,
  0.16315814169929999,
  0.32566945228526,
  0.88755616443295,
  0.24744894664813,
  0.54341351538671,
  0.7991669288500001,
  0.47411857698868,
  0.35748742788759996,
  'SAND',
  1.0,
  10478.348341760917],
 [263.0,
  2471.095,
  0.5186283115524,
  0.31527825988262204,
  0.13872788755812,
  0.8521749171495,
  0.13924684975329,
  0.5137531834828201,
  0.12479142386542,
  0.219489725464,
  0.5831941574528161,
  0.7991669288500001,
  0.42765855476478004,
  0.787556433492,
  'ARGILLIT',
  0.0,
  10159.013195475885],
 [263.0,
  2511.728,
  0.3926951261,
  0.27213833337649,
  0.19456484795339998,
  0.557721241386,
  0.12496958174,
  0.23313959652983798,
  0.6646299232538001,
  0.23396949275964002,
  0.545614377557636,
  0.7991669288500001,
  0.4715352825846,
  0.5726733646778399,
  'SAND',
  1.0,
  9540.811660449632],
 [270.0,
  2423.7495,
  0.24472791911833996,
  0.16234235511576,
  0.68413299791,
  0.3193181242557,
  0.47822925796281607,
  0.15581897277520002,
  0.421893231176636,
  0.5645491441483,
  0.46196398883698403,
  0.7991669288500001,
  0.23537349774811997,
  0.198263325421,
  'ARGILLIT',
  0.0,
  8449.976903068076],
 [270.0,
  2428.5825,
  0.24441774429538,
  0.1566664889229,
  0.5956124829216,
  0.47239134278190004,
  0.6171695843344,
  0.15158774169537,
  0.4554996829654,
  0.45158467189511603,
  0.46896254175528007,
  0.7991669288500001,
  0.259458527832174,
  0.3323698526447,
  'ARGILLIT',
  0.0,
  9132.905214286086],
 [12.0,
  3042.3735,
  0.45356861339797994,
  0.774,
  0.774,
  0.318596432869339,
  0.46471989519565,
  0.774,
  0.27339296123487,
  0.695538285291965,
  0.774,
  0.7973417246231701,
  0.17269273187351,
  0.7149541296652758,
  'NK',
  0.0,
  12435.065030823022],
 [223.0,
  2827.7525,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  0.4332524846775,
  0.7973417246231701,
  0.4167645866251671,
  0.298244447849,
  'ARGILLIT',
  0.0,
  3720.0666466743164],
 [263.0,
  2511.6385,
  0.3926812997723,
  0.276192837746968,
  0.18225818992661,
  0.5647738979726801,
  0.1261249291579,
  0.23384465579353697,
  0.6523864339588,
  0.2634324636616,
  0.5527686871192701,
  0.7973417246231701,
  0.46234223941742203,
  0.5966812952853,
  'SAND',
  1.0,
  9536.721545238765],
 [274.0,
  2346.9585,
  0.7254581135179999,
  0.5752538145916,
  0.16519826649667002,
  0.17217692537578003,
  0.234965727761,
  0.774,
  0.23492812219245002,
  0.26275897776964,
  0.774,
  0.7973417246231701,
  0.123756422927,
  0.49996731568159997,
  'DENSE',
  0.0,
  10248.157849286665],
 [12.0,
  3042.284,
  0.45136637231675997,
  0.774,
  0.663254149572417,
  0.34347765834740007,
  0.452897692131721,
  0.774,
  0.319764561235,
  0.15456463398214002,
  0.774,
  0.79558277995783,
  0.17132151369898901,
  0.7271293613913001,
  'NK',
  0.0,
  12332.05800540994],
 [16.0,
  2448.362,
  0.638339743125927,
  0.45215832744483003,
  0.45968826127317697,
  0.5614821267994999,
  0.24886344371345,
  0.514223222991214,
  0.3664531982346,
  0.1883995417591,
  0.774,
  0.79558277995783,
  0.18245257249864102,
  0.4511262627691,
  'SAND',
  1.0,
  11010.280635315132],
 [33.0,
  2494.723,
  nan,
  0.16412633693478,
  0.7745928182834398,
  0.46931253137628004,
  0.7467814286769999,
  nan,
  0.5972419266162,
  0.396714429388751,
  0.49577669853670003,
  0.79558277995783,
  0.5667168625751999,
  0.243743366747,
  'ARGILLIT',
  0.0,
  9731.074206821782],
 [49.0,
  2349.9120000000003,
  0.367867315523493,
  0.236458694911966,
  0.11698523315111001,
  0.48247961641911996,
  0.87219963155313,
  0.33978144294470003,
  0.577755118568,
  0.51521354466715,
  0.624594622243,
  0.79558277995783,
  0.39636248583253997,
  0.12423959979231801,
  'ARGILLIT',
  0.0,
  10150.659695235587],
 [49.0,
  2401.643,
  0.39331649311795003,
  0.276365757213,
  0.1352279798517,
  0.767725793823,
  0.111765938939624,
  0.4564496381552,
  0.67321473574271,
  0.354982132271233,
  0.55787898234724,
  0.79558277995783,
  0.43556317421158997,
  0.8979295726686809,
  'ARGILLIT',
  0.0,
  10626.282716203843],
 [49.0,
  2403.791,
  0.46949346128349995,
  0.21148294798717998,
  0.1699515755788,
  0.661175776484,
  0.11272988222425001,
  0.35958224486544,
  0.67827847764122,
  0.4135135129697,
  0.5641684111465101,
  0.79558277995783,
  0.44443575352233095,
  0.38628326727909995,
  'ARGILLIT',
  0.0,
  9789.12982880104],
 [49.0,
  2403.791,
  0.46949346128349995,
  0.21148294798717998,
  0.1699515755788,
  0.661175776484,
  0.11272988222425001,
  0.35958224486544,
  0.67827847764122,
  0.4135135129697,
  0.5641684111465101,
  0.79558277995783,
  0.44443575352233095,
  0.38628326727909995,
  'ARGILLIT',
  0.0,
  9789.12982880104],
 [49.0,
  2425.0025,
  0.463289918243,
  0.3263651177152,
  0.14253955692769,
  0.668699819247528,
  0.11268786788280001,
  0.425157361561,
  0.7437785881322,
  0.25889486192899996,
  0.58193625687551,
  0.79558277995783,
  0.42669927473612,
  0.318219768644291,
  'ARGILLIT',
  0.0,
  10159.078610859835],
 [49.0,
  2425.1815,
  0.5335659949753,
  0.28462626838478,
  0.13891996431231898,
  0.6715184434756001,
  0.11253356214662699,
  0.43243634842119,
  0.7417485137262,
  0.23674623771598,
  0.59624487599382,
  0.79558277995783,
  0.42556134947747,
  0.32377259396587,
  'SAND',
  1.0,
  10287.877987836699],
 [78.0,
  2339.709,
  0.5744437338528741,
  0.3658784744316839,
  0.21963687948759,
  0.19195728988526103,
  0.273734435617239,
  0.774,
  0.121237188453646,
  0.16486833429142903,
  0.5567634778,
  0.79558277995783,
  0.391732699137,
  0.41422322858789007,
  'SAND',
  1.0,
  9449.316471594628],
 [79.0,
  2894.072,
  0.49317793565122603,
  0.6863464999982,
  0.141598462842572,
  0.118785917258738,
  0.25792139755297894,
  0.696598552534717,
  0.13585875892417998,
  0.241635152445875,
  0.55913688816989,
  0.79558277995783,
  0.299296425956436,
  0.3815416643823,
  'ALEVROLIT',
  0.0,
  9213.86650693601],
 [83.0,
  2227.655,
  0.3382311316475,
  0.485892936688,
  0.37639476918930004,
  0.37871828376749,
  0.5147726172985301,
  0.774,
  0.774,
  0.51521354466715,
  0.6526931646229821,
  0.79558277995783,
  0.2556115316121,
  0.6761799346479,
  'DENSE',
  0.0,
  11871.988667810738],
 [85.0,
  2548.3335,
  nan,
  0.12395653575269,
  0.57696361786965,
  0.3633534497941,
  0.589534622978239,
  0.14776832985254998,
  0.3983164484335,
  0.48275591347900004,
  0.5649545999967,
  0.79558277995783,
  0.52719275592351,
  0.19133822768944397,
  'ARGILLIT',
  0.0,
  8599.666399988337],
 [85.0,
  2559.879,
  nan,
  0.11449923434738,
  0.5183256615371,
  0.316141163389,
  0.52448534347977,
  0.135841418139361,
  0.39295476294484005,
  0.51521354466715,
  0.5526111841746,
  0.79558277995783,
  0.535426232528,
  0.3873635237774461,
  'ARGILLIT',
  0.0,
  8411.49700236472]]

In [28]:
df_test_expences = add_expences(df_train)

In [44]:
df_result_example.head()

,well id,"depth, m",bk,GZ1,GZ2,GZ3,GZ4,GZ5,GZ7,DGK,NKTD,NKTM,NKTR,ALPS,lith,goal,expences
0,12.0,3042.4630,0.455779,0.774000,0.774000,0.332846,0.476545,0.774000,0.244898,0.123651,0.774000,0.799167,0.174639,0.727789,NK,0.0,12458.009407
1,33.0,2412.8305,NaN,0.157153,0.755472,0.453216,0.715147,NaN,0.523432,0.388729,0.519233,0.799167,0.563573,0.111216,ARGILLIT,0.0,9325.002552
2,33.0,2522.5575,NaN,0.172235,0.941742,0.525711,0.668600,NaN,0.588924,0.515214,0.527139,0.799167,0.551152,0.172359,ARGILLIT,0.0,9986.288876
3,49.0,2396.3625,0.381248,0.246838,0.116913,0.732654,0.151299,0.165219,0.656955,0.445917,0.575175,0.799167,0.429433,0.253563,ARGILLIT,0.0,9166.645598
4,49.0,2399.0475,0.356867,0.226241,0.155473,0.613300,0.173949,0.297194,0.773218,0.392743,0.575725,0.799167,0.447169,0.959633,ARGILLIT,0.0,10303.846759

In [48]:
df_result_total_example.head()

,cost,expenses,mass,oil_cnt,square,total_cnt,value,well id
0,0.0,37225.132443,0.0,0,0,3,-3.722513e+04,12.0
0,35690000.0,11010.280635,8600.0,1,100,1,2.497199e+07,16.0
0,0.0,29042.365634,0.0,0,0,3,-2.904237e+04,33.0
0,35690000.0,129213.810595,8600.0,1,100,13,2.485379e+07,49.0
0,0.0,12460.113240,0.0,0,0,1,-1.246011e+04,77.0

In [49]:
df_result_total_example=df_result_total_example.reset_index(drop=True)

In [47]:
df_result_total_example = form_result_df(df_result_example)

In [51]:
df_result_total_example.to_json('../data/result_total_example.json')

In [11]:
df_grouped = df_test.groupby(['well id'])

for well_id, df_well in df_grouped:
    print(f'well_id {well_id} nunique - {df_well["depth, m"].nunique()} shape {df_well.shape}')
          
          
df_test[df_test.duplicated(['well id','depth, m','bk','GZ1','GZ2','GZ3','GZ4','GZ5','GZ7','DGK','NKTD','NKTM','NKTR','ALPS',], keep=False)]

well_id 47 nunique - 1297 shape (1360, 15)
well_id 95 nunique - 1162 shape (1199, 15)
well_id 126 nunique - 17382 shape (17633, 15)
well_id 164 nunique - 15826 shape (16238, 15)
well_id 176 nunique - 1136 shape (1174, 15)

,id,well id,"depth, m",bk,GZ1,GZ2,GZ3,GZ4,GZ5,GZ7,DGK,NKTD,NKTM,NKTR,ALPS
30,31,47,2468.231,0.449133,0.376967,0.127989,0.531776,0.253316,0.911877,0.417324,0.769427,0.381311,0.558993,0.422383,0.774000
31,32,47,2468.231,0.449133,0.376967,0.127989,0.531776,0.253316,0.911877,0.417324,0.769427,0.381311,0.558993,0.422383,0.774000
39,40,47,2468.947,0.458829,0.316576,0.117564,0.435454,0.354642,0.893757,0.369689,0.515214,0.381458,0.543162,0.411672,0.774000
40,41,47,2468.947,0.458829,0.316576,0.117564,0.435454,0.354642,0.893757,0.369689,0.515214,0.381458,0.543162,0.411672,0.774000
60,61,47,2470.737,0.367247,0.276679,0.119591,0.552777,0.114990,0.223684,0.645786,0.366495,0.386175,0.563918,0.425497,0.368554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37520,37521,176,2165.005,0.399551,0.262832,0.127844,0.782174,0.141857,0.368494,0.852176,0.494653,0.347186,0.498485,0.424384,0.162172
37528,37529,176,2165.721,0.423699,0.247487,0.131655,0.675283,0.125893,0.371813,0.841864,0.412178,0.363219,0.513265,0.496400,0.132560
37529,37530,176,2165.721,0.423699,0.247487,0.131655,0.675283,0.125893,0.371813,0.841864,0.412178,0.363219,0.513265,0.496400,0.132560
37565,37566,176,2168.943,0.397237,0.279274,0.154195,0.733595,0.117446,0.357766,0.937225,0.344939,0.393485,0.527332,0.379199,0.195392
37566,37567,176,2168.943,0.397237,0.279274,0.154195,0.733595,0.117446,0.357766,0.937225,0.344939,0.393485,0.527332,0.379199,0.195392

In [55]:
df.head()

NameError: name 'df' is not defined

In [190]:
df1=df

In [200]:
df2=df1[df1.duplicated(['well id','depth, m','bk','GZ1','GZ2','GZ3','GZ4','GZ5','GZ7','DGK','NKTD','NKTM','NKTR','ALPS'], keep=False)]

In [ ]:
df.drop_duplicates(subset=['well id','depth, m','bk','GZ1','GZ2','GZ3','GZ4','GZ5','GZ7','DGK','NKTD','NKTM','NKTR','ALPS'], keep=False)