In [128]:
import pandas as pd
import numpy as np
import matplotlib
import os

In [210]:
df_train = pd.read_csv("/Users/zamaletdinovaaa/mipt_cet_hack/Silicondzor/data/train.csv", "|")
df_train_sorted = df_train.sort_values(by=['well id', 'depth, m'])
df_train_sorted.to_csv('train_sorted.csv',index=False, sep='|')

In [217]:
df_train_clean = df_train.drop_duplicates(subset=['well id','depth, m','bk','GZ1','GZ2','GZ3','GZ4','GZ5','GZ7','DGK','NKTD','NKTM','NKTR','ALPS'], keep=False)
df_train_clean.to_csv('train_clean.csv',index=False, sep='|')
df_train_clean_sorted = df_train_clean.sort_values(by=['well id', 'depth, m'])
df_train_clean_sorted.to_csv('train_clean_sorted.csv',index=False, sep='|')

In [130]:
df_test = pd.read_csv("/Users/zamaletdinovaaa/mipt_cet_hack/Silicondzor/data/test.csv", "|")

In [169]:
_PNB = 4150
_PHI = 0.7
_RHO = 860
_S = 100
_H_DELTA = 0.1
_EXPENCES_BK = 2450
_EXPENCES_GZ = 2050
_EXPENCES_DGK = 1300
_EXPENCES_NKT = 2050
_EXPENCES_ALPS = 1150
_EXPENCES_DICT = {'bk':_EXPENCES_BK, 
                 'GZ1':_EXPENCES_GZ,
                  'GZ2':_EXPENCES_GZ,
                  'GZ3':_EXPENCES_GZ,
                  'GZ4':_EXPENCES_GZ,
                  'GZ5':_EXPENCES_GZ,
                  'GZ6':_EXPENCES_GZ,
                  'GZ7':_EXPENCES_GZ,
                  'DKG':_EXPENCES_DGK,
                  'NKTD':_EXPENCES_NKT,
                  'NKTM':_EXPENCES_NKT,
                  'NKTR':_EXPENCES_NKT,
                  'ALPS':_EXPENCES_ALPS
                 }
_EXPENCES_COLUMNS_ALL = list(_EXPENCES_DICT.keys())

In [153]:
def analysis_columns(df):
    return list(pd.Index(_EXPENCES_COLUMNS_ALL).intersection(df.columns))
    
def add_expences(df):
    df['expences'] = (df[analysis_columns(df)].fillna(0) * [_EXPENCES_DICT.get(key) for key in analysis_columns(df)]).sum(axis=1)
    return df

In [167]:
def form_result_df(df):
    df_grouped = df.groupby(['well id'])
    columns = ['well id', 'total_cnt', 'oil_cnt', 'value', 'expenses', 'square', 'mass', 'cost']

    df_dashbord_show = pd.DataFrame(columns=columns)
    
    for well_id, df_well in df_grouped:
        total_cnt = df_well.shape[0]
        oil_cnt = df_well[df_well['goal']==1]['well id'].count()
        h = _H_DELTA * oil_cnt
        expences = df_well['expences'].sum()
        square = oil_cnt*_S
        mass = _H_DELTA * square * _RHO
        value = _PNB*_PHI*h*_S*_RHO - expences
        cost = mass * _PNB
        row_dict = [{'cost':cost,'mass':mass,'square':square,'well id':well_id, 'total_cnt':total_cnt, 'oil_cnt':oil_cnt, 'value':value, 'expenses':expences}]
        df_dashbord_show_inc = pd.DataFrame(row_dict)
        df_dashbord_show = df_dashbord_show.append(df_dashbord_show_inc)
    return df_dashbord_show

In [154]:
df_train = add_expences(df_train)

In [156]:
df_test = add_expences(df_train)

In [170]:
df_train_result = form_result_df(df_train)

In [181]:
df_train_result.head()

,cost,expenses,mass,oil_cnt,square,total_cnt,value,well id
0,6.281440e+09,6.261313e+06,1513600.0,176,17600,696,4.390747e+09,1.0
0,4.496940e+09,1.342072e+07,1083600.0,126,12600,1472,3.134437e+09,2.0
0,4.068660e+09,1.095490e+07,980400.0,114,11400,1167,2.837107e+09,3.0
0,4.532630e+09,1.066882e+07,1092200.0,127,12700,1170,3.162172e+09,4.0
0,1.070700e+10,1.685752e+07,2580000.0,300,30000,1844,7.478042e+09,5.0

,well id,"depth, m",bk,GZ1,GZ2,GZ3,GZ4,GZ5,GZ7,DGK,NKTD,NKTM,NKTR,ALPS,lith,goal,expences
40248,12.0,3047.833,0.439828,0.284464,0.143336,0.832348,0.168417,0.519864,0.661168,0.366317,0.369366,0.594745,0.393943,0.378775,ARGILLIT,0.0,1077.578281
40249,12.0,3047.833,0.439828,0.284464,0.143336,0.832348,0.168417,0.519864,0.661168,0.366317,0.369366,0.594745,0.393943,0.378775,SAND,1.0,1077.578281
43233,12.0,3043.537,0.175659,0.774000,0.774000,0.774000,0.421732,0.774000,0.984925,0.166929,0.456618,0.591548,0.329737,0.578182,NK,0.0,430.363687
43234,12.0,3043.537,0.175659,0.774000,0.774000,0.774000,0.421732,0.774000,0.984925,0.166929,0.456618,0.591548,0.329737,0.578182,ARGILLIT,0.0,430.363687
46527,12.0,2970.863,0.769854,0.522222,0.263217,0.121967,0.152143,0.479913,0.945325,0.151356,0.492625,0.586432,0.311839,0.427739,DENSE,0.0,1886.141955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172501,12.0,3000.756,0.219189,0.746288,0.328660,0.236672,0.353167,0.144772,0.372647,0.498727,0.284443,0.471454,0.555759,0.155852,ARGILLIT,0.0,537.012206
177488,12.0,3006.663,0.227668,0.152125,0.651959,0.337835,0.468252,0.138662,0.462414,0.491514,0.319664,0.466472,0.442339,0.161782,ARGILLIT,0.0,557.787455
177489,12.0,3006.663,0.227668,0.152125,0.651959,0.337835,0.468252,0.138662,0.462414,0.491514,0.319664,0.466472,0.442339,0.161782,ARGILLIT,0.0,557.787455
204402,12.0,2998.608,0.238214,0.133968,0.551626,0.327296,0.617170,0.187546,0.231582,0.515214,0.276895,0.439736,0.482830,0.139331,ARGILLIT,0.0,583.624908
204403,12.0,2998.608,0.238214,0.133968,0.551626,0.327296,0.617170,0.187546,0.231582,0.515214,0.276895,0.439736,0.482830,0.139331,ARGILLIT,0.0,583.624908

In [176]:
df_grouped = df_train.groupby(['well id'])

for well_id, df_well in df_grouped:
    print(f'well_id {well_id} nunique - {df_well["depth, m"].nunique()} shape {df_well.shape}')
          
          
df1 = df[df['well id']==12]
df1[df1.duplicated(['depth, m',], keep=False)]

well_id 1.0 nunique - 681 shape (696, 17)
well_id 2.0 nunique - 1444 shape (1472, 17)
well_id 3.0 nunique - 1130 shape (1167, 17)
well_id 4.0 nunique - 1121 shape (1170, 17)
well_id 5.0 nunique - 1772 shape (1844, 17)
well_id 6.0 nunique - 2165 shape (2191, 17)
well_id 7.0 nunique - 528 shape (555, 17)
well_id 8.0 nunique - 1448 shape (1469, 17)
well_id 9.0 nunique - 457 shape (480, 17)
well_id 10.0 nunique - 1414 shape (1431, 17)
well_id 11.0 nunique - 1430 shape (1462, 17)
well_id 12.0 nunique - 1132 shape (1167, 17)
well_id 13.0 nunique - 613 shape (632, 17)
well_id 14.0 nunique - 626 shape (643, 17)
well_id 15.0 nunique - 5081 shape (5114, 17)
well_id 16.0 nunique - 544 shape (553, 17)
well_id 17.0 nunique - 540 shape (550, 17)
well_id 18.0 nunique - 549 shape (568, 17)
well_id 19.0 nunique - 489 shape (505, 17)
well_id 20.0 nunique - 2747 shape (2827, 17)
well_id 21.0 nunique - 486 shape (502, 17)
well_id 22.0 nunique - 535 shape (550, 17)
well_id 23.0 nunique - 1246 shape (1285, 17)
well_id 24.0 nunique - 610 shape (621, 17)
well_id 25.0 nunique - 1435 shape (1459, 17)
well_id 26.0 nunique - 1261 shape (1288, 17)
well_id 27.0 nunique - 1446 shape (1504, 17)
well_id 28.0 nunique - 951 shape (981, 17)
well_id 29.0 nunique - 732 shape (754, 17)
well_id 30.0 nunique - 598 shape (614, 17)
well_id 31.0 nunique - 1133 shape (1162, 17)
well_id 32.0 nunique - 1370 shape (1404, 17)
well_id 33.0 nunique - 2512 shape (2564, 17)
well_id 34.0 nunique - 651 shape (670, 17)
well_id 35.0 nunique - 581 shape (607, 17)
well_id 36.0 nunique - 2028 shape (2080, 17)
well_id 37.0 nunique - 1296 shape (1324, 17)
well_id 38.0 nunique - 1328 shape (1399, 17)
well_id 39.0 nunique - 1394 shape (1445, 17)
well_id 40.0 nunique - 1392 shape (1441, 17)
well_id 41.0 nunique - 2074 shape (2134, 17)
well_id 42.0 nunique - 6300 shape (6419, 17)
well_id 43.0 nunique - 911 shape (944, 17)
well_id 44.0 nunique - 704 shape (719, 17)
well_id 45.0 nunique - 661 shape (674, 17)
well_id 46.0 nunique - 12042 shape (12274, 17)
well_id 48.0 nunique - 1370 shape (1398, 17)
well_id 49.0 nunique - 1212 shape (1261, 17)
well_id 50.0 nunique - 1690 shape (1719, 17)
well_id 51.0 nunique - 587 shape (609, 17)
well_id 52.0 nunique - 956 shape (996, 17)
well_id 53.0 nunique - 1490 shape (1516, 17)
well_id 54.0 nunique - 531 shape (550, 17)
well_id 55.0 nunique - 625 shape (647, 17)
well_id 56.0 nunique - 587 shape (610, 17)
well_id 57.0 nunique - 1209 shape (1229, 17)
well_id 58.0 nunique - 1504 shape (1542, 17)
well_id 59.0 nunique - 1809 shape (1866, 17)
well_id 60.0 nunique - 1568 shape (1609, 17)
well_id 61.0 nunique - 1242 shape (1263, 17)
well_id 62.0 nunique - 1319 shape (1350, 17)
well_id 63.0 nunique - 1400 shape (1426, 17)
well_id 64.0 nunique - 710 shape (744, 17)
well_id 65.0 nunique - 1186 shape (1233, 17)
well_id 66.0 nunique - 610 shape (639, 17)
well_id 67.0 nunique - 1196 shape (1217, 17)
well_id 68.0 nunique - 1330 shape (1367, 17)
well_id 69.0 nunique - 1623 shape (1653, 17)
well_id 70.0 nunique - 1710 shape (1727, 17)
well_id 71.0 nunique - 1341 shape (1366, 17)
well_id 72.0 nunique - 1234 shape (1276, 17)
well_id 73.0 nunique - 1306 shape (1349, 17)
well_id 74.0 nunique - 1805 shape (1840, 17)
well_id 75.0 nunique - 1365 shape (1403, 17)
well_id 76.0 nunique - 1443 shape (1489, 17)
well_id 77.0 nunique - 1379 shape (1412, 17)
well_id 78.0 nunique - 1285 shape (1320, 17)
well_id 79.0 nunique - 1936 shape (1969, 17)
well_id 80.0 nunique - 1189 shape (1216, 17)
well_id 81.0 nunique - 1427 shape (1474, 17)
well_id 82.0 nunique - 1316 shape (1351, 17)
well_id 83.0 nunique - 1395 shape (1431, 17)
well_id 84.0 nunique - 2105 shape (2146, 17)
well_id 85.0 nunique - 1597 shape (1620, 17)
well_id 86.0 nunique - 1930 shape (1961, 17)
well_id 87.0 nunique - 1450 shape (1491, 17)
well_id 88.0 nunique - 1248 shape (1279, 17)
well_id 89.0 nunique - 1226 shape (1253, 17)
well_id 90.0 nunique - 2015 shape (2041, 17)
well_id 91.0 nunique - 1322 shape (1354, 17)
well_id 92.0 nunique - 1185 shape (1212, 17)
well_id 93.0 nunique - 1756 shape (1796, 17)
well_id 94.0 nunique - 1226 shape (1262, 17)
well_id 96.0 nunique - 1739 shape (1757, 17)
well_id 97.0 nunique - 1617 shape (1635, 17)
well_id 98.0 nunique - 1444 shape (1492, 17)
well_id 99.0 nunique - 1434 shape (1461, 17)
well_id 100.0 nunique - 2225 shape (2252, 17)
well_id 101.0 nunique - 1288 shape (1326, 17)
well_id 102.0 nunique - 3687 shape (3744, 17)
well_id 103.0 nunique - 1166 shape (1189, 17)
well_id 104.0 nunique - 1206 shape (1241, 17)
well_id 105.0 nunique - 1143 shape (1172, 17)
well_id 106.0 nunique - 1372 shape (1404, 17)
well_id 107.0 nunique - 1459 shape (1501, 17)
well_id 108.0 nunique - 1405 shape (1439, 17)
well_id 109.0 nunique - 1481 shape (1512, 17)
well_id 110.0 nunique - 1356 shape (1388, 17)
well_id 111.0 nunique - 1452 shape (1486, 17)
well_id 112.0 nunique - 1146 shape (1190, 17)
well_id 113.0 nunique - 1166 shape (1185, 17)
well_id 114.0 nunique - 1108 shape (1127, 17)
well_id 115.0 nunique - 1139 shape (1164, 17)
well_id 116.0 nunique - 1177 shape (1204, 17)
well_id 117.0 nunique - 1074 shape (1108, 17)
well_id 118.0 nunique - 1422 shape (1449, 17)
well_id 119.0 nunique - 1220 shape (1254, 17)
well_id 120.0 nunique - 1112 shape (1133, 17)
well_id 121.0 nunique - 1148 shape (1169, 17)
well_id 122.0 nunique - 1332 shape (1360, 17)
well_id 123.0 nunique - 2561 shape (2637, 17)
well_id 124.0 nunique - 1471 shape (1503, 17)
well_id 125.0 nunique - 1421 shape (1460, 17)
well_id 127.0 nunique - 1163 shape (1192, 17)
well_id 128.0 nunique - 1032 shape (1057, 17)
well_id 129.0 nunique - 244 shape (250, 17)
well_id 130.0 nunique - 1082 shape (1113, 17)
well_id 131.0 nunique - 217 shape (224, 17)
well_id 132.0 nunique - 240 shape (251, 17)
well_id 133.0 nunique - 1096 shape (1132, 17)
well_id 134.0 nunique - 1422 shape (1451, 17)
well_id 135.0 nunique - 1450 shape (1479, 17)
well_id 136.0 nunique - 1381 shape (1417, 17)
well_id 137.0 nunique - 1407 shape (1436, 17)
well_id 138.0 nunique - 1303 shape (1336, 17)
well_id 139.0 nunique - 1131 shape (1148, 17)
well_id 140.0 nunique - 1109 shape (1137, 17)
well_id 141.0 nunique - 1133 shape (1162, 17)
well_id 142.0 nunique - 1075 shape (1100, 17)
well_id 143.0 nunique - 1069 shape (1096, 17)
well_id 144.0 nunique - 1406 shape (1439, 17)
well_id 145.0 nunique - 1498 shape (1520, 17)
well_id 146.0 nunique - 1381 shape (1410, 17)
well_id 147.0 nunique - 1285 shape (1313, 17)
well_id 148.0 nunique - 1042 shape (1064, 17)
well_id 149.0 nunique - 1017 shape (1039, 17)
well_id 150.0 nunique - 1460 shape (1495, 17)
well_id 151.0 nunique - 1221 shape (1280, 17)
well_id 152.0 nunique - 1536 shape (1575, 17)
well_id 153.0 nunique - 1403 shape (1436, 17)
well_id 154.0 nunique - 1403 shape (1425, 17)
well_id 155.0 nunique - 1643 shape (1673, 17)
well_id 156.0 nunique - 1647 shape (1672, 17)
well_id 157.0 nunique - 1448 shape (1478, 17)
well_id 158.0 nunique - 1586 shape (1610, 17)
well_id 159.0 nunique - 1874 shape (1914, 17)
well_id 160.0 nunique - 1131 shape (1158, 17)
well_id 161.0 nunique - 1065 shape (1093, 17)
well_id 162.0 nunique - 1020 shape (1045, 17)
well_id 163.0 nunique - 980 shape (1013, 17)
well_id 165.0 nunique - 1559 shape (1585, 17)
well_id 166.0 nunique - 1535 shape (1565, 17)
well_id 167.0 nunique - 1522 shape (1552, 17)
well_id 168.0 nunique - 1467 shape (1506, 17)
well_id 169.0 nunique - 1716 shape (1774, 17)
well_id 170.0 nunique - 1032 shape (1052, 17)
well_id 171.0 nunique - 1040 shape (1061, 17)
well_id 172.0 nunique - 1376 shape (1397, 17)
well_id 173.0 nunique - 1880 shape (1925, 17)
well_id 174.0 nunique - 1463 shape (1498, 17)
well_id 175.0 nunique - 1240 shape (1284, 17)
well_id 177.0 nunique - 1612 shape (1650, 17)
well_id 178.0 nunique - 1654 shape (1697, 17)
well_id 179.0 nunique - 1537 shape (1573, 17)
well_id 180.0 nunique - 1271 shape (1300, 17)
well_id 181.0 nunique - 1190 shape (1227, 17)
well_id 182.0 nunique - 531 shape (553, 17)
well_id 183.0 nunique - 1716 shape (1774, 17)
well_id 184.0 nunique - 1061 shape (1078, 17)
well_id 185.0 nunique - 1753 shape (1798, 17)
well_id 186.0 nunique - 1905 shape (1960, 17)
well_id 187.0 nunique - 1541 shape (1584, 17)
well_id 188.0 nunique - 1395 shape (1440, 17)
well_id 189.0 nunique - 1493 shape (1537, 17)
well_id 190.0 nunique - 1350 shape (1386, 17)
well_id 191.0 nunique - 1363 shape (1399, 17)
well_id 192.0 nunique - 861 shape (885, 17)
well_id 193.0 nunique - 9084 shape (9223, 17)
well_id 194.0 nunique - 10366 shape (10440, 17)
well_id 195.0 nunique - 1820 shape (1875, 17)
well_id 196.0 nunique - 1581 shape (1621, 17)
well_id 197.0 nunique - 1511 shape (1539, 17)
well_id 198.0 nunique - 1412 shape (1445, 17)
well_id 199.0 nunique - 1430 shape (1463, 17)
well_id 200.0 nunique - 1361 shape (1396, 17)
well_id 201.0 nunique - 1365 shape (1393, 17)
well_id 202.0 nunique - 1408 shape (1437, 17)
well_id 203.0 nunique - 1964 shape (1992, 17)
well_id 204.0 nunique - 973 shape (992, 17)
well_id 205.0 nunique - 1251 shape (1280, 17)
well_id 206.0 nunique - 2086 shape (2133, 17)
well_id 207.0 nunique - 1903 shape (1948, 17)
well_id 208.0 nunique - 1447 shape (1479, 17)
well_id 209.0 nunique - 1469 shape (1497, 17)
well_id 210.0 nunique - 1336 shape (1370, 17)
well_id 211.0 nunique - 1352 shape (1377, 17)
well_id 212.0 nunique - 917 shape (938, 17)
well_id 213.0 nunique - 1633 shape (1659, 17)
well_id 214.0 nunique - 1576 shape (1621, 17)
well_id 215.0 nunique - 2043 shape (2090, 17)
well_id 216.0 nunique - 1576 shape (1611, 17)
well_id 217.0 nunique - 1462 shape (1497, 17)
well_id 218.0 nunique - 1730 shape (1773, 17)
well_id 219.0 nunique - 1396 shape (1423, 17)
well_id 220.0 nunique - 1442 shape (1489, 17)
well_id 221.0 nunique - 1531 shape (1561, 17)
well_id 222.0 nunique - 1092 shape (1122, 17)
well_id 223.0 nunique - 2010 shape (2038, 17)
well_id 224.0 nunique - 1737 shape (1789, 17)
well_id 225.0 nunique - 1842 shape (1882, 17)
well_id 226.0 nunique - 2002 shape (2040, 17)
well_id 227.0 nunique - 1566 shape (1612, 17)
well_id 228.0 nunique - 1480 shape (1513, 17)
well_id 229.0 nunique - 1970 shape (2010, 17)
well_id 230.0 nunique - 1685 shape (1720, 17)
well_id 231.0 nunique - 1321 shape (1351, 17)
well_id 232.0 nunique - 1621 shape (1652, 17)
well_id 233.0 nunique - 2064 shape (2102, 17)
well_id 234.0 nunique - 1003 shape (1027, 17)
well_id 235.0 nunique - 1601 shape (1642, 17)
well_id 236.0 nunique - 1930 shape (1972, 17)
well_id 237.0 nunique - 1861 shape (1888, 17)
well_id 238.0 nunique - 1448 shape (1484, 17)
well_id 239.0 nunique - 1358 shape (1392, 17)
well_id 240.0 nunique - 1290 shape (1327, 17)
well_id 241.0 nunique - 1594 shape (1633, 17)
well_id 242.0 nunique - 1692 shape (1735, 17)
well_id 243.0 nunique - 1699 shape (1747, 17)
well_id 244.0 nunique - 1964 shape (2008, 17)
well_id 245.0 nunique - 1566 shape (1608, 17)
well_id 246.0 nunique - 1625 shape (1677, 17)
well_id 247.0 nunique - 1439 shape (1475, 17)
well_id 248.0 nunique - 1782 shape (1822, 17)
well_id 249.0 nunique - 1550 shape (1585, 17)
well_id 250.0 nunique - 1650 shape (1672, 17)
well_id 251.0 nunique - 1048 shape (1076, 17)
well_id 252.0 nunique - 1571 shape (1620, 17)
well_id 253.0 nunique - 1966 shape (2018, 17)
well_id 254.0 nunique - 1408 shape (1437, 17)
well_id 255.0 nunique - 1686 shape (1721, 17)
well_id 256.0 nunique - 1603 shape (1640, 17)
well_id 257.0 nunique - 1572 shape (1607, 17)
well_id 258.0 nunique - 1876 shape (1912, 17)
well_id 259.0 nunique - 1388 shape (1424, 17)
well_id 260.0 nunique - 1429 shape (1460, 17)
well_id 261.0 nunique - 1821 shape (1880, 17)
well_id 262.0 nunique - 1611 shape (1638, 17)
well_id 263.0 nunique - 2850 shape (2928, 17)
well_id 264.0 nunique - 1980 shape (2026, 17)
well_id 265.0 nunique - 1548 shape (1600, 17)
well_id 266.0 nunique - 1697 shape (1745, 17)
well_id 267.0 nunique - 1250 shape (1297, 17)
well_id 268.0 nunique - 1607 shape (1654, 17)
well_id 269.0 nunique - 1627 shape (1677, 17)
well_id 270.0 nunique - 1916 shape (1961, 17)
well_id 271.0 nunique - 1774 shape (1822, 17)
well_id 272.0 nunique - 1479 shape (1532, 17)
well_id 273.0 nunique - 1691 shape (1731, 17)
well_id 274.0 nunique - 1793 shape (1830, 17)
well_id 275.0 nunique - 1626 shape (1656, 17)
well_id 276.0 nunique - 1728 shape (1781, 17)
well_id 277.0 nunique - 1539 shape (1599, 17)
well_id 278.0 nunique - 1561 shape (1628, 17)
well_id 279.0 nunique - 985 shape (1020, 17)
well_id 280.0 nunique - 1421 shape (1448, 17)
well_id 281.0 nunique - 9250 shape (9410, 17)
well_id 282.0 nunique - 1103 shape (1136, 17)
well_id 283.0 nunique - 11054 shape (11224, 17)
well_id 284.0 nunique - 10752 shape (10861, 17)
well_id 285.0 nunique - 1094 shape (1130, 17)
well_id 286.0 nunique - 654 shape (657, 17)
well_id 287.0 nunique - 1564 shape (1613, 17)

In [204]:
df2['well id'].isna().count()

21881

In [190]:
df1=df

In [200]:
df2=df1[df1.duplicated(['well id','depth, m','bk','GZ1','GZ2','GZ3','GZ4','GZ5','GZ7','DGK','NKTD','NKTM','NKTR','ALPS'], keep=False)]

In [ ]:
df.drop_duplicates(subset=['well id','depth, m','bk','GZ1','GZ2','GZ3','GZ4','GZ5','GZ7','DGK','NKTD','NKTM','NKTR','ALPS'], keep=False)