In [3]:
import pandas as pd
data = pd.read_csv("../data/train.csv") 
data.head()

,well id|depth,m|bk|GZ1|GZ2|GZ3|GZ4|GZ5|GZ7|DGK|NKTD|NKTM|NKTR|ALPS|lith|goal
0,12|3042.463|0.45577854494284|0.774|0.774|0.332...,NaN
1,33|2412.8305||0.1571525894168|0.7554718122715|...,NaN
2,33|2522.5575||0.172235345676617|0.941742335986...,NaN
3,49|2396.3625|0.3812483222237|0.24683822611517|...,NaN
4,49|2399.0475|0.356867336231|0.226241343897252|...,NaN